<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.UserMapper">
    <select id="selectAll" resultType="com.shop.domain.User">
        SELECT id,username,password FROM user
    </select>
    <select id="selectById" resultType="com.shop.domain.User">
        SELECT id,username,password FROM user WHERE id=#{id}
    </select>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(username,password) VALUES(#{username},#{password})
    </insert>
    <update id="updateUser">
        UPDATE user SET username=#{username},password=#{password} WHERE id=#{id}
    </update>
    <delete id="deleteUser">
        DELETE FROM user WHERE id=#{id}
    </delete>
</mapper>